{% extends 'habit_tracker/layout.html' %}

{% block title %}
    <title>Habit Tracker</title>
{% endblock %}

{% block body %}
    <div id="habit">
        <h1>{{ habit }}</h1>
    </div>

    <div class="table-container scroll">
        <table>
            <thead>
                <tr>
                    <td></td>
                    <th colspan="4" class="months heading">Jan</th>
                    <th colspan="4" class="months heading">Feb</th>
                    <th colspan="5" class="months heading">March</th>
                    <th colspan="4" class="months heading">April</th>
                    <th colspan="4" class="months heading">May</th>
                    <th colspan="5" class="months heading">June</th>
                    <th colspan="4" class="months heading">July</th>
                    <th colspan="5" class="months heading">Aug</th>
                    <th colspan="4" class="months heading">Sept</th>
                    <th colspan="4" class="months heading">Oct</th>
                    <th colspan="5" class="months heading">Nov</th>
                    <th colspan="4" class="months heading">Dec</th>
                </tr>
            </thead>

            <tbody>
                {% for day in weekdays %}
                    <tr>
                        <th class="days heading">{{ day }}</th>

                        {% for entry in entries %}
                            {% if entry.date|date:'l' == day %}
                                <td>
                                    <div class="day" data-name="{{ entry.name }}" data-date="{{ entry.date|date:'Y-m-d' }}" data-duration="{{ entry.duration }}">
                                        <div class="day-inner" style="background-color: rgb(240, 94, 155, {{ entry.intensity|floatformat:2 }});"></div>

                                        <div class="container" id="tooltip">
                                            <div class="row mx-auto">
                                                <span><b>Date:</b></span>
                                                <span id="text-date">{{ entry.date|date:'Y-m-d' }}</span>
                                            </div>

                                            <div class="row mx-auto" id="tooltip-duration">
                                                <span><b>Duration:</b></span>
                                                <span id="text-duration">{{ entry.duration }}</span>
                                            </div>

                                            <div class="row mx-auto">
                                                <button class="tooltip-button" id="edit-button" type="button">E</button>
                                                <button class="tooltip-button" id="remove-button" type="button">R</button>
                                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        const url = "{% url 'habit_tracker:track_habit' habit %}";
    </script>
{% endblock %}
