{% extends 'habit_tracker/layout.html' %}

{% block title %}
    <title>Habit Tracker</title>
{% endblock %}

{% block body %}
    <h1>{{ habit }}</h1>

    <div>
        <ul>
            {% for entry in entries %}
                <li>{{ entry.date }} - {{ entry.duration }} mins</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <table class="table table-responsive table-dark">
            <thead>
                <tr>
                    <td></td>
                    <th scope="col" colspan="4">Month-1</th>
                    <th scope="col" colspan="4">Month-2</th>
                    <th scope="col" colspan="4">Month-3</th>
                    <th scope="col" colspan="4">Month-4</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>Monday</th>
                    {% for entry in entries %}
                        {% if entry.date|date:'l' == 'Monday' %}
                            <td class="entries">{{ entry.date }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th>Tuesday</th>
                    {% for entry in entries %}
                        {% if entry.date|date:'l' == 'Tuesday' %}
                            <td class="entries">{{ entry.date }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th>Wednesday</th>
                    {% for entry in entries %}
                        {% if entry.date|date:'l' == 'Wednesday' %}
                            <td class="entries">{{ entry.date }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th>Thursday</th>
                    {% for entry in entries %}
                        {% if entry.date|date:'l' == 'Thursday' %}
                            <td class="entries">{{ entry.date }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th>Friday</th>
                    {% for entry in entries %}
                        {% if entry.date|date:'l' == 'Friday' %}
                            <td class="entries">{{ entry.date }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th>Saturday</th>
                    {% for entry in entries %}
                        {% if entry.date|date:'l' == 'Saturday' %}
                            <td class="entries">{{ entry.date }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th>Sunday</th>
                    {% for entry in entries %}
                        {% if entry.date|date:'l' == 'Sunday' %}
                            <td class="entries">{{ entry.date }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
