{% extends 'habit_tracker/layout.html' %}

{% block title %}
    <title>Habit Tracker</title>
{% endblock %}

{% block body %}
    <div id="habit">
        <h1>{{ habit }}</h1>
    </div>

    <div id="container" class="container scroll">
        <table>
            <thead>
                <tr>
                    <td></td>
                    <th scope="col" colspan="4" class="months heading">Jan</th>
                    <th scope="col" colspan="4" class="months heading">Feb</th>
                    <th scope="col" colspan="5" class="months heading">March</th>
                    <th scope="col" colspan="4" class="months heading">April</th>
                    <th scope="col" colspan="4" class="months heading">May</th>
                    <th scope="col" colspan="5" class="months heading">June</th>
                    <th scope="col" colspan="4" class="months heading">July</th>
                    <th scope="col" colspan="5" class="months heading">Aug</th>
                    <th scope="col" colspan="4" class="months heading">Sept</th>
                    <th scope="col" colspan="4" class="months heading">Oct</th>
                    <th scope="col" colspan="5" class="months heading">Nov</th>
                    <th scope="col" colspan="4" class="months heading">Dec</th>
                </tr>
            </thead>

            <tbody>
                {% for day in weekdays %}
                    <tr>
                        <th class="days heading">{{ day }}</th>
                        {% for entry in entries %}
                            {% if entry.date|date:'l' == day %}
                                <td>
                                    <div class="day" data-date="{{ entry.date }}" data-duration="{{ entry.duration }}">
                                        <div class="day-inner" style="background-color: rgba(255, 85, 176, {{ entry.intensity|floatformat:2 }});"></div>
                                    </div>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="tooltip"></div>
{% endblock %}
