h1 {
    font-size: 80px;
    font-family: Arial, sans-serif;
    padding-bottom: 80px;
    text-align: center;
}

th {
    text-align: center;
}

/*.container {
    justify-content: center;
    background-color: rgb(197, 197, 197);
    border-radius: 20px;
    width: 90%;
}*/

div.scroll {
    margin: 20px auto;
    padding: 15px;
    background-color: rgba(100, 100, 100, 0.24);
    width: 80%;
    max-width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid #7c7575;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.521);
    line-height: 1;
}

td {
    background-color: #f3ffb26b;
    height: 40px;
    width: 120px;
}

.day {
    background-color: blueviolet;
    height: 20px;
    width: 20px;
    border-radius: 8px;
    padding: 0px 0px 0px 0px;
    margin: 1px 1px 1px 1px;
}

.days {
    padding-right: 40px;
}

.months {
    padding-bottom: 15px;
}
